<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MindNote</title>

    <link rel="stylesheet" href="~/lib/twitter-bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.css">
    <link rel="stylesheet" href="~/css/site.css" />
    @RenderSection("Header", required: false)
</head>
<body style="padding-top:70px">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3 fixed-top bg-white">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">MindNote</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item @((string)ViewData["Id"] == "Home" ? "active":"")" style="margin-left:10px;">
                            <a class="nav-link" asp-area="" asp-page="/Index">
                                <i class="fa fa-home" style="margin-right:3px"></i>
                                Home
                            </a>
                        </li>
                        <li class="nav-item @((string)ViewData["Id"] == "Notes" ? "active":"")" style="margin-left:10px;">
                            <a class="nav-link" asp-area="" asp-page="/Notes/Index">
                                <i class="fa fa-list" style="margin-right:3px"></i>
                                Notes
                            </a>
                        </li>
                        <li class="nav-item @((string)ViewData["Id"] == "Relations" ? "active":"")" style="margin-left:10px;">
                            <a class="nav-link" asp-area="" asp-page="/Relations/Index">
                                <i class="fa fa-magic" style="margin-right:3px"></i>
                                Relations
                            </a>
                        </li>
                        <li class="nav-item @((string)ViewData["Id"] == "Categories" ? "active":"")" style="margin-left:10px;">
                            <a class="nav-link" asp-area="" asp-page="/Categories/Index">
                                <i class="fa fa-th" style="margin-right:3px"></i>
                                Categories
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <partial name="_CookieConsentPartial" />
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <div class="corner">
        <div class="btn-group-vertical" style="display:block">
            <button class="btn btn-light" id="btnBackToTop"><i class="fa fa-angle-up"></i></button>
        </div>
        @RenderSection("corner", required: false)
    </div>


    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2019 - MindNote - <a asp-area="" asp-page="/Privacy"><i class="fa fa-user-secret"></i></a> - <a href="https://github.com/StardustDL/MindNote"><i class="fa fa-code-branch"></i> </a>
        </div>
    </footer>

    <script src="~/lib/jquery/jquery.js"></script>
    <script src="~/lib/twitter-bootstrap/js/bootstrap.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <script>
        document.getElementById("btnBackToTop").onclick = (function smoothscroll() {
            var currentScroll = document.documentElement.scrollTop || document.body.scrollTop;
            if (currentScroll > 0) {
                window.requestAnimationFrame(smoothscroll);
                window.scrollTo(0, currentScroll - (currentScroll / 5));
            }
        });
    </script>

    @RenderSection("scripts", required: false)
</body>
</html>
