@page "/account/login"
@using MindNote.Client.SDK.API
@inject IUsersClient UserClient
@inject IUriHelper UriHelper
@inject AuthenticationStateProvider AuthenticationStateProvider

<h1>Log in</h1>

<p>@Message</p>

<EditForm Model="@Model" OnValidSubmit="@LoginAsync">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="form-group">
        <label class="control-label">Name</label>
        <InputText class="form-control" @bind-Value="@Model.Name" />
    </div>

    <div class="form-group">
        <label class="control-label">Password</label>
        <InputText class="form-control" @bind-Value="@Model.Password" type="password" />
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-primary">Log in</button>
    </div>
</EditForm>

@code {
    [CascadingParameter]
    private Task<AuthenticationState> authenticationStateTask { get; set; }

    private LoginModel Model = new LoginModel();

    string Message { get; set; }

    protected override async Task OnInitAsync()
    {
        var auth = (AuthStateProvider)AuthenticationStateProvider;
        await auth.Login("stardustdl@163.com", "Z7hp0Gh&");

        var user = (await authenticationStateTask).User;
        if (user.Identity.IsAuthenticated)
        {
            UriHelper.NavigateTo("/account");
        }
    }

    private async Task LoginAsync()
    {
        var auth = (AuthStateProvider)AuthenticationStateProvider;
        if (await auth.Login(Model.Name, Model.Password))
        {
            var user = (await authenticationStateTask).User;
            var token = UserHelper.GetAccessToken(user);
            var id = UserHelper.GetId(user);
            var profile = await UserClient.Get(token, id);
            if (profile == null)
            {
                await UserClient.Create(token, id, new User
                {
                    Name = UserHelper.GetName(user),
                    Email = UserHelper.GetEmail(user)
                });
            }
            UriHelper.NavigateTo("/account");
        }
        else
        {
            Message = "Login failed.";
        }
    }
}