@page
@model IndexModel
@inject MindNote.Frontend.SDK.Identity.IIdentityDataGetter IDData
@{
    ViewData["Title"] = "Profile";
}

<div class="row">
    <div class="col-3">
        <div class="card">
            <img class="card-img-top" gravatar="@Model.Profile.Email" size="256" default="mp" />
            <div class="card-body">
                <h4 class="card-title">@Model.Profile.Name</h4>
                <h5 class="card-subtitle mb-2 text-muted">@Model.Profile.Email</h5>
                @if (!String.IsNullOrEmpty(Model.Profile.Bio))
                {
                    <span class="card-text">@(Model.Profile.Bio ?? "Bio")</span>
                }
                <dl class="mt-2">
                    @if (Model.Profile.Location != null)
                    {
                        <dt style="float:left; min-width:24px"><i class="fa fa-map-marker"></i></dt>
                        <dd><small>@Model.Profile.Location</small></dd>
                    }
                    @if (Model.Profile.Url != null)
                    {
                        <dt style="float:left; min-width:24px"><i class="fa fa-link"></i></dt>
                        <dd><small><a href="@Model.Profile.Url">@Model.Profile.Url</a></small></dd>
                    }
                </dl>
                <a asp-page="./Manage/Index" class="card-link">Manage</a>
            </div>
        </div>
    </div>
    <div class="col-9">
        @if (Model.Profile.Id == IDData.GetClaimId(User))
        {
            <div class="row m-2">

                <form method="post">
                    <button type="submit" asp-page-handler="Initialize" class="btn btn-outline-primary">
                        Initialize
                    </button>
                </form>
                <form method="post" style="margin-left:10px">
                    <button type="submit" asp-page-handler="Clear" class="btn btn-outline-danger">
                        Clear
                    </button>
                </form>
            </div>
        }
        <vc:note-list-waterfall token="@Model.Token" data="@Model.Notes" paging="@Model.Paging" column="1"></vc:note-list-waterfall>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}