@page
@model MindNote.Server.Host.Pages.Categories.ViewModel
@{
    ViewData["Title"] = Model.Data.Data.Name;
    ViewData["Id"] = "Categories";
}

@*
    <ul class="breadcrumb">
        <li class="breadcrumb-item"><a asp-page="/Index">MindNote</a></li>
        <li class="breadcrumb-item"><a asp-page="/Notes/Index">Categories</a></li>
        <li class="breadcrumb-item active">@Model.Data.Data.Id</li>
    </ul>
*@

<h1 class="display-4 mb-4 text-center">
    <category-display value="Model.Data.Data"></category-display>
</h1>
@if (Model.Onwer != null)
{
    <div class="text-center">
        <small>
            <a asp-area="Identity" asp-page="/Account/Index" asp-route-id="@Model.Onwer.Id" style="color: #555;">
                <user-display value="@Model.Onwer"></user-display>
            </a>
        </small>
    </div>
}

<vc:note-list-waterfall token="@Model.Token" data="@Model.Notes" paging="@Model.Paging" column="@null"></vc:note-list-waterfall>

@section corner {
    <form method="post">
        <input type="hidden" asp-for="PostData.Data.Id" value="@Model.Data.Data.Id" />
        <div class="btn-group-vertical">
            <a asp-page="./Index" class="btn btn-dark"><i class="fa fa-list"></i></a>
            @if (User.Identity.IsAuthenticated)
            {
                <a asp-page="./Edit" asp-route-id="@Model.Data.Data.Id" class="btn btn-primary">
                    <i class="fa fa-edit"></i>
                </a>

                <button type="submit" asp-page-handler="Delete" asp-route-id="@Model.Data.Data.Id" class="btn btn-danger">
                    <i class="fa fa-trash"></i>
                </button>
            }
        </div>
    </form>
}
