﻿@using Microsoft.AspNetCore.Identity

<ul class="navbar-nav">
    @if (User.Identity.IsAuthenticated)
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Index">
                <img gravatar="@Helpers.UserHelper.GetEmail(User)" size="24" default="mp" style="display:inline" class="rounded" />
                <span style="margin-left:5px;">@Helpers.UserHelper.GetName(User)</span>
            </a>
        </li>
        <li class="nav-item">
            <form method="post" class="form-inline" asp-area="Identity" asp-page="/Logout" asp-route-returnUrl="@Url.Page("/Index", new { area = "" })">
                <button type="submit" class="nav-link btn btn-link text-dark">
                    <i class="fa fa-sign-out-alt" style="margin-right:3px"></i>
                    Logout
                </button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" href="@Helpers.UserHelper.RegisterUrl">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Login" asp-route-returnUrl="@(Context.Request.PathBase + Context.Request.Path + Context.Request.QueryString)">
                <i class="fa fa-sign-in-alt" style="margin-right:3px"></i>
                Login
            </a>
        </li>
    }
</ul>
