@page "/categories/{id:int}"
@using MindNote.Frontend.Client.Shared
@using MindNote.Frontend.SDK.API
@using System.Linq
@using MindNote.Data
@inject CustomNotesClient NoteClient
@inject CustomUsersClient UserClient
@inject CustomCategoriesClient CategoryClient
@inject IUriHelper UriHelper

@if (Current == null)
{
    <p><em>Loading...</em></p>
}
else
{
    @if (Current.Data == null)
    {
        <p><em>Not found.</em></p>
    }
    else
    {
        <div class="d-flex flex-row">
            <h1>
                <CategoryDisplay value="@Current.Data" />
            </h1>
            @if (Current.Data.UserId != null && Current.Data.UserId == CurrentUserId)
            {
                <div class="d-flex flex-row-reverse flex-grow-1 align-items-center">
                    <button class="btn btn-outline-danger m-1" @onclick="@(async e => await OnDelete())"><i class="fa fa-trash"></i></button>
                    <a href="/categories/@Id/edit" class="btn btn-outline-primary m-1"><i class="fa fa-edit"></i></a>
                </div>
            }
        </div>

        @if (Current.User != null)
        {
            <div>
                <small>
                    <a href="/account/@Current.User.Id" style="color: #555;">
                        <UserDisplay Value="@Current.User" />
                    </a>
                </small>
            </div>
        }
    }
}

@if (Notes == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <NoteListWaterfall Data="@Notes" Paging="@Paging" OnQueryPaging="@OnQueryPaging" />
}

@code {
    [CascadingParameter]
    private Task<AuthenticationState> authenticationStateTask { get; set; }

    [Parameter]
    private int Id { get; set; }

    string CurrentUserId { get; set; }

    CategoryViewModel Current { get; set; }

    PagingSettings Paging { get; set; } = new PagingSettings { ItemCountPerPage = 4 };

    IList<NoteViewModel> Notes { get; set; }

    protected override async Task OnInitAsync()
    {
        var user = (await authenticationStateTask).User;
        if (user.Identity.IsAuthenticated)
        {
            CurrentUserId = UserHelper.GetId(user);
        }

        Current = new CategoryViewModel { Data = await CategoryClient.Get(Id) };
        if (Current?.Data != null)
        {
            await Current.Load(UserClient);

            int count = (await NoteClient.Query(categoryId: Current.Data.Id, targets: MindNote.Data.Providers.Queries.NoteTargets.Count)).Count();
            Paging.MaximumIndex = (count / Paging.ItemCountPerPage) + (count % Paging.ItemCountPerPage > 0 ? 1 : 0);

            await OnQueryPaging(Paging.CurrentIndex);
        }
    }

    private async Task OnQueryPaging(int pageIndex)
    {
        if (Current?.Data == null) return;

        Paging.CurrentIndex = pageIndex;
        int offset = (Paging.CurrentIndex - 1) * Paging.ItemCountPerPage;

        IEnumerable<Note> ms = await NoteClient.Query(categoryId: Current.Data.Id, offset: offset, count: Paging.ItemCountPerPage);
        var data = ms.Select(x => new NoteViewModel { Data = x }).ToList();
        foreach (var v in data)
            await v.Load(CategoryClient, UserClient);
        Notes = data;
    }

    private async Task OnDelete()
    {
        await CategoryClient.Delete(Id);
        UriHelper.NavigateTo("categories");
    }
}
