@model  Components.NoteListWaterfall.NoteListWaterfallViewComponent.ViewModel

<div class="card-columns waterfall-card-columns">
    @foreach (var item in Model.Data)
    {
        <div class="card mt-4 border-0">
            <div class="card-body">
                <h4 class="card-title mb-4">
                    <a asp-page="/Notes/View" asp-route-id="@item.Data.Id" style="color: black">@item.Data.Title</a>
                </h4>
                <div class="card-subtitle mb-4">
                    <partial name="/Pages/Notes/_NoteMetadataPartial.cshtml" model="item" />
                </div>

                <p class="card-text mb-4">
                    <text-clipper text="@item.Data.Content"></text-clipper>
                </p>
                <a asp-page="/Notes/View" asp-route-id="@item.Data.Id" class="card-link" style="color: #555; border-bottom: 1px solid #666;">Read more</a>
            </div>
        </div>
    }
</div>

@if (Model.Paging != null)
{
    <div class="text-center">
        <ul class="pagination" style="display:inline-flex">
            <li class="page-item @(Model.Paging.CurrentIndex == 1 ? "disabled" : "")"><a class="page-link" asp-route-pageIndex="@(Model.Paging.CurrentIndex - 1)"><i class="fa fa-angle-left"></i></a></li>
            @for (int i = Math.Max(1, Model.Paging.CurrentIndex - 5); i <= Math.Min(Model.Paging.CurrentIndex + 5, Model.Paging.MaximumIndex); i++)
            {
                <li class="page-item @(i == Model.Paging.CurrentIndex ? "active" : "")"><a class="page-link" asp-all-route-data="@Model.Paging.RouteData" asp-route-pageIndex="@i">@i</a></li>
            }
            <li class="page-item @(Model.Paging.CurrentIndex == Model.Paging.MaximumIndex ? "disabled" : "")"><a class="page-link" asp-route-pageIndex="@(Model.Paging.CurrentIndex + 1)"><i class="fa fa-angle-right"></i></a></li>
        </ul>
    </div>
}