@model NotesViewModel

<div style="color:#999">
    <small>
        <item-time creation-time="@Model.Data.CreationTime" modification-time="@Model.Data.ModificationTime"></item-time>
    </small>
    @if (Model.Category != null)
    {
        <small class="m-1">|</small>
        <small>
            <a asp-page="/Categories/View" asp-route-id="@Model.Category.Id" style="color: #555;">
                <category-display value="@Model.Category"></category-display>
            </a>
        </small>
    }
    @if (Model.Data.Keywords != null && Model.Data.Keywords.Length > 0)
    {
        <small class="m-1">|</small>
        <small>
            <keywords-display keywords="@Model.Data.Keywords"></keywords-display>
        </small>
    }
    <small class="m-1">|</small>
    <small>
        <word-count text="@Model.Data.Content"></word-count>
    </small>
    <small class="m-1">|</small>
    <small>
        <read-time text="@Model.Data.Content"></read-time>
    </small>
    <small class="m-1">|</small>
    <small>
        <a asp-area="Identity" asp-page="/Account/Index" asp-route-id="@Model.User.Id" style="color: #555;">
            <user-display value="@Model.User"></user-display>
        </a>
    </small>
</div>